# File; .gitignore

.vscode
.python-version
__pycache__
.idea
config.conf
generated_media
har_and_cookies
.venv
.env
*.log
src/app/static/images/
banana_proxy.png
inspect_gemini_webapi.py
demo_banana_image.py
